body {
    background: #111;
    color: #fff;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: gold;
}

.screen {
    background: orange;
    padding: 10px;
    width: 60%;
    margin: 10px auto;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#seats {
    display: grid;
    grid-template-columns: repeat(12, 50px);
    gap: 8px;
}

.seat {
    width: 50px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    line-height: 40px;
    font-size: 12px;
}

.available {
    background: white;
    color: black;
}

.selected {
    background: limegreen;
}

.booked {
    background: orange;
    cursor: not-allowed;
}

.summary {
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
}
